
hr{
    color:rgb(83, 81, 81);
    border-top: 2px;
    margin: 25px;
}
a {
    color:rgb(236, 241, 166);
    padding: 25px;
    font-size: 20px
}
#header , footer {
    background-color: darkolivegreen;
    color: white;
    text-align: center;
    padding: 20px;
}

header h1{
    font-size: 40px;
    
}
main {
    margin:25px;
    box-shadow :  0 0 10px  rgba(0,0,0,0.2);
    padding: 25px;
    border-radius: 15px ;
}

section h2{
    font-size: 30px;
    color:darkolivegreen;
    border-bottom: 2px solid darkolivegreen;
}

main li{
    margin: 20px;
    padding: 5px;
    padding-left: 20px;
    border-radius: 10px;
    border-left: 4px solid darkolivegreen
}

section img {
    width: 600px;
    height: 400px;
    border-radius: 15px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
}

#fig figure{
    display: inline-block;
    

}

form{
    background-color: aliceblue;
    border-radius: 15px;
    padding: 25px 25px;
}

fieldset{
    color: darkolivegreen;
    border-color: darkolivegreen;
    border-radius: 15px;
    background-color: aliceblue;
}

input, select, textarea{
    width: 100%;
    border-radius: 5px;
    border-color: darkolivegreen;
    box-sizing: border-box;
    font-size: 17px;
}

button{
    font-size: 17px;
    border-radius: 10px;
    border-color: darkolivegreen;
    background-color: darkolivegreen;
    color: white;
    box-shadow:  0 2px 10px rgba(0,0,0,0.3) ;
}


